<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Payment Tests">
            <directory>./Unit/Payment</directory>
        </testsuite>
        <testsuite name="Security Tests">
            <directory>./Unit/Security</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CI_ENV" value="testing"/>
    </php>
</phpunit>
